{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Start your own project</title>

        <!-- Bootstrap -->
        <link href="{% static 'applab_web/dist/css/applab.min.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{% static 'applab_web/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'applab_web/js/start-your-project/angular/angular.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'applab_web/js/start-your-project/angular/angular-route.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'applab_web/dist/js/start-your-project.min.js' %}"></script>
    </head>
    <body ng-app="startYourProject">
        <div class="startYourProject wrap">
            <header>
                <nav class="navbar">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header navbar-default">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="mobile-navbar">
                            <ul class="nav navbar-nav">
                            	<li class="hidden-xs"><a href="/"><img src="{% static 'applab_web/images/logo.png' %}"></a></li>
                                <li ><a href="/">Home <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">How it works</a></li>
                                <li><a href="#">Referrals</a></li>
                                <li><a href="#">Stories</a></li>
                                <li class="active"><a href="#/">Start your project</a></li>
                                <li><a href="#">Contant Us</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </header>
            <section>
                <form id="quote-form">
                    <input type="hidden" ng-init="formData.projectType='{{type}}'"/>
                    <input type="hidden" ng-init="formData.what='{{what}}'"/>
                    {% csrf_token %}
                    <div ng-view></div>
                </form>
            </section>
        </div>

<!--         <footer>
        	<div class="container">
        		<div class="row">
		        	<div class="footer-inner">
	        			<div class="col-xs-4">
	        				<img src="{% static 'applab_web/images/logo.png' %}">
	        			</div>
	        			<div class="col-xs-4">
	        				Share icons go here
	        			</div>
	        			<div class="col-xs-4">
	        				<ul>
	        					<li><a href="#">Terms</a></li>
	        					<li>The App Lab © 2015</li>
	        					<li><a href="#">Privacy</a></li>
	        				</ul>
	        			</div>
	        		</div>
	        	</div>
        	</div>
        </footer> -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        
    </body>
</html>