*.DS_STORE
applab_web/static/applab_web/tmp
*.pyc
*.pyo
node_modules
npm-debug.log
*.sass-cache
*css.map
*js.map
.ssh
*.pem

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
