option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "applab.settings"
    "application_stage": "staging"
    PYTHONPATH: "/opt/python/current/app/applab:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "applab/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    /static/: "applab_web/static/"

container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
  03_npm:
    command: "cd applab_web && npm install"
    leader_only: true
  04_grunt_cli:
    command: "npm install -g grunt-cli"
    leader_only: true
  05_install_sass:
    command: "gem install sass"
    leader_only: true
  06_grunt:
    command: "cd applab_web && grunt"
    leader_only: true
  07_collect_static:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
