option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "applab.settings"
    PYTHONPATH: "/opt/python/current/app/applab:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "applab/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    /static/: "applab/static"

container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
