// Product type page: second step and app link page: third step
// ============================================= 

$top-margin: 35px;

.centered-bock {
	margin-top: $top-margin;
	h1 {
		font-size: 15px;
	 	color: #a8aaa8;
	}
	h4 {
		font-size: 40px;
		margin: 0px;
	}
	p {
		margin: 20px 0;
		color: #a8aaa8;
		font-size: 14px;
	}

	// Select app type step
	// ===============================
	ul {
		padding: 0px;
		margin-top: $top-margin; 
		list-style-type: none;
		li {
			.item {
				display: block;
				border : 1px solid #a7aaaa;
				border-radius: 10px;
				text-align: center;
				padding: 50px 30px;
				@media screen and (max-width: $screen-sm) {
					border: 0px;
				}
				color: #2a3333;

				img.adjusted {
					margin-bottom: 17px;
				}
				h5 {
					text-align: center;
					font-size: 16px;
					margin-bottom: 3px;
				}
				p {
					text-align: center;
					font-size: 11px;
				}
			}
		}
	}
	// Enter link to app step
	// =============================
	form {
		label {
			font-size: 17px;
		}
	}
}


	