// Start your project page
// ==============================================================

// Vars

$top-margin: 35px;

.startYourProject {
	.navbar{
		font-family: "Gotham-Book";
		background: #2a3333;
		border-radius: 0px;
		ul {
			text-align: left;
		}
	}
	.select-product {
		font-size: 21px;
	}
	.user-form {
		margin-top: $top-margin;
		h1 {
			font-size: 45px;
		}
		h4 {
			font-size: 15px;
			color: #a8aaa8;
		}
		fieldset {
			margin-top: $top-margin;
		}
	}
}



