<div class="container">
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8  col-md-offset-1 col-md-10 col-sm-12 ">
	    	<div class="centered-bock">
	    		<h1 class="text-center">A NEW APP WITH COME ON</h1>
	    		<h4 class="text-center">Woohoo!</h4>
	    		<h4 class="text-center">What's the link to your app?</h4>
	    		<p class="text-center">The more details we have about your project, the easier it is to match you with the right professional.</p>
	    		<div class="form-group col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
	    			<label for="app-link">Link to your project</label>
	    			<input class="form-control " id="app-link" ng-model="formData.appLink" type="text" name="app-link" placeholder="http://myawesomeproject.com">
	    		</div>
	    		<div class="submit-button form-group col-xs-12">
	    			<a class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2" href="#summary">Continue</a>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>