<div class="container">
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8  col-md-offset-2 col-md-8 col-sm-8  col-sm-offset-2 col-xs-10 col-xs-offset-1">
		    <div class="row">
		        <div class="select-product">
		            <div class="col-md-3 col-xs-12">
		                <h2>I need...</h2>
		            </div>
		            <div class="col-md-9 col-xs-12">
		                <div class="row">
		                    <div class="col-xs-6">
		                        <div class="applab-selectbox alternative">
		                            <select>
		                                <option>a new</option>
		                                <option>an old </option>
		                                <option>used:)</option>
		                            </select>
		                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
		                        </div>
		                    </div>
		                    <div class="col-xs-6 ">
		                        <div class="applab-selectbox alternative">
		                            <select>
		                                <option>app</option>
		                                <option>website </option>
		                                <option>shoes</option>
		                            </select>
		                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="user-form">
		    		<h1 class="text-center">Sweet! <br>What's your name, stranger?</h1>
		    		<h4 class="text-center">Let’s get to know you better. We won’t share your email with anyone. Even if they’re family.</h4>
		    		<fieldset>
		    			<div class="form-group col-sm-6" >
		    				<label for="name">Name</label>
		    				<input class="form-control " id="name"  type="text" name="name" placeholder="Alan Smith">
		    			</div>
		    			<div class="form-group col-sm-6">
		    				<label for="phone">Phone</label>
		    				<input class="form-control" id="phone"  type="text" name="phone" placeholder="020 403 924 45">
		    			</div>
		    			<div class="form-group col-xs-12">
		    				<label for="email">Email</label>
		    				<input class="form-control" id="email"  type="text" name="email" placeholder="alan.smith@gmail.com">
		    			</div>
		    			<div class="submit-button form-group col-xs-12">
		    				<button class="col-md-4 col-md-offset-4 col-xs-12" type="submit">Continue</button>
		    			</div>
	    			</fieldset>
		    	</div>
		    </div>
		</div>
	</div>
</div>