// Buttons
// ==================================================

%button {
	display: inline;
	padding: 10px 20px;
	border: 1px solid #fff;
	font-size: 21px;
	color: #fff;
	background: none;
	&:hover, &:active {
		text-decoration: none;
		color: #000;
		background: #fff;
	}
	&:focus {
		outline: 0px;
	}
}

.submit-button {
	text-align: center;
	button, a {
		color: #fff;
		padding: 7px;
		border: none;
		border-radius: 10px;
		&:hover {
			background: lighten(#000, 20%);
		}
		background: #000;
	}
}