@font-face {
	font-family: "gotham_book";
	src: url('../../fonts/OpenSans-Bold.ttf'); 
}

@font-face {
	font-family: "gotham_rounded_medium";
	src: url('../../fonts/gotham_rounded_medium.ttf'); 
}


@font-face {
	font-family: "gotham_pro_black";
	src: url('../../fonts/gotham_pro_black.eot');
	src: local('../../fonts/gotham_pro_black');
	src: url('../../fonts/gotham_pro_black.svg#gotham_pro_black') format('svg');
	src: url('../../fonts/gotham_pro_black.otf') format('opentype'); 
}
